<div class="first-section">
  <div class="item-1">
    <h2 class="first-title-section">
      Volverse organizado se siente mejor con OPEN SPACES
    </h2>
  </div>

  <div class="item-2">
    <img src="./assets/images/icon_1.png" alt="icon-1" />
    <h3 class="second-title-section">Lo que necesitas</h3>
    <p>Una linea de productos diseñados para todos tus espacios</p>
  </div>

  <div class="item-3">
    <img src="./assets/images/icon_2.png" alt="icon-2" />
    <h3 class="second-title-section">Materia prima sustentables</h3>
    <p>TOdos los productos con materias primas sustentables</p>
  </div>

  <div class="item-4">
    <img src="./assets/images/icon_3.png" alt="icon-3" />
    <h3 class="second-title-section">Guía</h3>
    <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
  </div>
</div>
