<header class="header" id="header">
  <div class="list-header">
    <ul class="list-header-menu">
      <a href="https://adalab.es/" target="_blank"
        ><li class="menu-list">Productos</li></a
      >
      <a href="https://adalab.es/" target="_blank"
        ><li class="menu-list">Colecciones</li></a
      >
      <a href="https://adalab.es/" target="_blank"
        ><li class="menu-list">Tienda</li></a
      >
      <a href="https://adalab.es/" target="_blank"
        ><li class="menu-list">Inicio</li></a
      >
    </ul>
  </div>
  <div class="header-icon">
    <a href="https://adalab.es/" target="_blank"
      ><img
        class="icon-menu"
        src="./assets/images/bars-solid.svg"
        alt="bar menu"
    /></a>
  </div>
  <div class="header-logo-wrapper">
    <img class="header-logo" src="./assets/images/logo.png" alt="logo-header" />
  </div>
  <div class="header-main-content">
    <h1 class="header-title">Disfruta creando espacios</h1>
    <button class="header-button"><a href="#">Comprar ahora</a></button>
  </div>
</header>
