.first-section {
    background-color: $background-color-main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr;
    gap: 31px;
    padding: 30px 0;
    color: $primary-color;
}

.item-1, .item-2, .item-3, .item-4 {
    text-align: center;
}

.first-title-section {
    font-family: $font-titles;
    font-size: 22px;
    margin-bottom: 10px;
}

.second-title-section {
    font-size: 26px;
}

.item-1 {
    margin-left: 45px;
    margin-right: 36px;
    @media all and (min-width: 900px) {
        grid-column: span 3;
    }
}

@media all and (min-width: 900px) {
    .first-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        padding: 30px;
}
}