// Css del footer
.footer {
    background-color: $primary-color;
    color: $secundary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 415px;
    position: relative;
    @media all and (min-width: 900px) {
        height: 300px;
    }
}

.footer-main-wrapper {
    display: flex;
    flex-direction: column;
    @media all and (min-width: 900px) {
        flex-direction: row;
        justify-content: space-around;
        gap: 200px;
    }
}

a {
    color: $secundary-color;
    list-style: none;
    text-decoration: none;
}

.footer-div-1, .footer-div-2, .footer-div-3 {
    line-height: 20px;
    margin-bottom: 15px;
}

.footer-title-list{
    color: $color-title-footer;
    font-size: 24px;
    padding-bottom: 10px;
    font-family: $font-titles;
}

.footer-list {
    font-size: 16px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    padding-top: 10px;
}

.list-div-3 {
    list-style: none;
    font-size: 16px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.fa-arrow-up {
    position: absolute;
    bottom: 50px;
    right: 10%;
    font-size: 24px;
    color: $secundary-color;
    cursor: pointer;
    @media all and (min-width: 900px) {
        bottom: 100px;
    }
}


