.fourth-section {
    width: 100%;
    height: 500px;
    background-image: url(../images/creando-espacios.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: cover;
}

@media all and (min-width: 1728px) {
    .fourth-section {
        width: 50%;
}
}