.third-section {
    background-color:$background-color-main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 339px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 50px;
    color: $primary-color;
    @media all and (min-width: 1728px) {
        width: 50%;
        height: auto;
    }
}

.div-third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding-top: 50px;

}

.title-third-section {
    font-family: $font-titles;
    font-size: 36px;
}

.text-third-section {
    font-size: 16px;
}

.button-third-section {
    width: 176px;
    height: 48px;
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: $font-titles;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;  
 }

 .button-third-section:hover {
     background-color: orange;
 }

 @media all and (min-width: 1728px) {
    .main-wrapper-third-fourth-section {
        display: flex;
        flex-direction: row;
 }
}
